# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv

# Data files
*.csv
*.xlsx

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
desktop.ini
